

    <section id="index-bottom">
    	<section id="login">
    		<h2>Sign in</h2>
            <%= form_for(:session, :url => sessions_path) do |f| %>
            	<%= f.label :username %><br />
            	<section class="input_med" >
                	<%= f.text_field :username %>
                </section><br />
                <%= f.label :password %><br />
                <section class="input_med" >
                	<%= f.password_field :password %>
                </section><br />
                <%= f.submit "Login" %>
                <a href="#" class="lnk_undecorated">Forgot your password?</a>
			<% end %>
    	</section>
    	<section id="signup">
    		<h2>Not a member?</h2>
            <%= link_to "Sign up", signup_path %>
            <p>Here at WebShare we're all about community.<br>
            That's why we say <b>Booya!</b> when you share</p>
    	</section>
   	</section>