<% provide(:title, "Sign in") %>

<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

    <section id="index-bottom">
    	<section id="signin">
    		<h1>Sign in</h1>
            <%= form_for(:session, :url => sessions_path) do |f| %>
				<%= f.label :email %><br />
            	<section class="input_med" >
                	<%= f.text_field :email %>
                </section><br />
                <%= f.label :password %><br />
                <section class="input_med" >
                	<%= f.password_field :password %>
                </section><br />
                <button class="btn_med btn_lblue">
				    <%= f.submit "Sign in" %>
				</button>
                <a href="#" class="lnk_undecorated">Forgot your pass?</a>
	    <% end %>
    	</section>
    	<section id="signup">
    		<h2>Not a member?</h2>
            <button class="btn_med btn_lblue">
				<%= link_to "Sign up", signup_path %>
			</button>
            <p>Here at WebShare we're all about community.<br>
            That's why we say <b>Booya!</b> when you share</p>
    	</section>
   	</section>
