<%= form_for(@project, :html => {:multipart => true}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :projectName, 'Project Name' %><br />
    <%= f.text_field :projectName %>
  </div>
  <div class="field">
    <%= f.label :category, 'Category' %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :numberOfFiles, 'Number of Files' %><br />
    <%= f.number_field :numberOfFiles %>
  </div>
  <div class="field">
    <%= f.label :numberOfLikes, 'Number of Likes' %><br />
    <%= f.number_field :numberOfLikes %>
  </div>
  <div class="field">
    <%= f.label :numberOfComments, 'Number of Comments' %><br />
    <%= f.number_field :numberOfComments %>
  </div>
  <div class="field">
    <%= f.label :projectFile, 'Project File Upload' %><br />
    <%= f.file_field :projectFile %>
  </div>
  <div class="field">
    <%= f.label :projectThumbnail, 'Project Thumbnail Upload' %><br />
    <%= f.file_field :projectThumbnail %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
