<%= form_for @project, :html => { :multipart => true } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :projectName, 'Project Name' %><br />
    <%= f.text_field :projectName %>
  </div>
  <div class="field">
    <%= f.label :category, 'Category' %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :thumbnail, 'Project Thumbnail' %><br />
    <%= f.file_field :thumbnail %>
  </div>
  <div class="field">
    <%= f.label :webOneUp, 'Web One Up (single-page website)' %><br />
    <%= f.file_field :webOneUp %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
