<h1>Listing projects</h1>

<table>
  <tr>
    <th>Projectname</th>
    <th>Category</th>
    <th>Numberoffiles</th>
    <th>Numberoflikes</th>
    <th>Numberofcomments</th>
    <th>Thumbnailpath</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.projectName %></td>
    <td><%= project.category %></td>
    <td><%= project.numberOfFiles %></td>
    <td><%= project.numberOfLikes %></td>
    <td><%= project.numberOfComments %></td>
    <td><%= project.thumbnailPath %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
