<p id="notice"><%= notice %></p>

<section class="content">
  
  <b>Project name:</b>
  <%= @project.projectName %>

  <b>Category:</b>
  <%= @project.category %>

  <b>Number of files:</b>
  <%= @project.numberOfFiles %>

  <b>Number of likes:</b>
  <%= @project.numberOfLikes %>

  <b>Number of comments:</b>
  <%= @project.numberOfComments %>

  <b>Filename:</b>
  <%= @project.projectFile %>

  <b>Project Thumbnail:</b>
  <%= image_tag @project.projectThumbnail.path %>
</section>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
