<header>
	<nav>
    	<section id="ws">
        	<%= image_tag('images/logo/ws-bracket-left-sm.png') %>
    		<a id="lnk_WebShare" href="index.html"><%= image_tag('images/logo/ws-cube-sm.png') %></a>
    		<%= image_tag('images/logo/ws-bracket-right-sm.png') %>
    	</section>
        <ul id="subnav_WebShare">
          <li><a href="">Project of the Week</a></li>
          <li><a href="">Share Your Work</a></li>
          <li><a href="">Provide Feedback</a></li>
        </ul>
        <ul>
          <li><%= link_to 'People', users_path %></li>
          <li><%= link_to 'Projects', projects_path %></li>
          <li><%= link_to 'Featured', signin_path %></li>
          <li><%= link_to 'Services', signin_path %></li>
          <li><%= link_to 'About', signin_path %></li>
          <li><%= link_to 'Contact', signin_path %></li>
        </ul>
    </nav>
    <% if signed_in? %>
  		<%= link_to 'Profile', users_path(current_user) %>
  		<%= link_to 'Sign out', signout_path, :controller => session, :method => :delete %>
  	<% else %>
  		<%= link_to 'Sign in', signin_path %>
  	<% end %>
</header>